@model Piranha.Models.RoutedContentBase;
@inject IViewHelper ViewHelper;
<title>@Model.Title</title>
<meta name="robots" content="index,follow" >
<meta name="keywords" content="@Model.MetaKeywords">
<meta name="description" content="@Model.MetaDescription">
<meta property="og:site_name" content="Bolzplatzarena">
<meta property="og:title" content="@Model.Title">
<meta property="og:description" content="@Model.MetaDescription">
<meta property="og:type" content="website">
<meta property="og:locale" content="de_DE">
<meta property="og:url" content="@ViewHelper.ToAbsoluteUrl(Model)">
<meta property="og:locality" content="Karlsruhe">
<meta property="og:country-name" content="Germany">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="@Model.Title">
<meta property="twitter:description" content="@Model.MetaDescription">
<meta property="twitter:url" content="@ViewHelper.ToAbsoluteUrl(Model)">
<link rel="canonical" href="@ViewHelper.ToAbsoluteUrl(Model)">