@model Bolzplatzarena.Blog.Models.Post
<div class="post">
    @await Html.PartialAsync("_Icon", Model.Category)
    <div class="content">
        <h3><a href="@Model.Permalink">@Model.Title</a></h3>
        @if (Model.Tags?.Count > 0)
        {
            <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <a href="/blog/tag/@tag.Slug">@tag.Title</a>
            }
            </div>
        }
        @Html.Raw(Model.Teaser?.Body.Value)
        <p>Veröffentlich: @Model.Published.GetValueOrDefault().ToString("dd. MMMM yyyy, HH:mm"), Kategorie: @Model.Category.Title</p>
    </div>
    <div class="avatar">
        <inline-image src="images/author_thomas_renger.jpg" alt="Autor von: @Model.Category.Title"></inline-image>
    </div>
</div>