@model Post
@{
    ViewBag.Title = Model.Title;
}
<div class="page">
    <div class="navigation">
        @await Html.PartialAsync("_ContentNavigation")
    </div>
    <div class="content">
        <h1>@Model.Title</h1>
        @Html.DisplayFor(m => m.Blocks)
    </div>
</div>

<script type="application/ld+json">
{
"@@context": "https://schema.org", 
"@@type": "BlogPosting",
 "headline": "@Model.Title",
 "alternativeHeadline": "@Model.Title",
 "genre": "@Model.Category.Title", 
 "keywords": "@string.Join(',', Model.Tags.Select(item => item.Title))", 
 "description": "@Model.Excerpt"
 }
</script>